body {
    margin: 60px;
    padding: 0;
    font-family: "Montserrat", sans-serif;
  background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

.image-container {
    background-image: url('/images/clouds.png');
    display: block;
    background-size: 800px 600px;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
    width: 800px;
    height: 600px;
    border-radius: 10px;
     
}
h1{
     margin: 0;
    padding-top: 15px;
    font-weight: 600;
    font-size: 32px;

}

.description{
    padding: 0;
    font-size: 16px; 
    color: white;
    font-weight: 300;  
    padding-left: 1px;
}
.percentage{
    font-weight: 600;
    color: #F9C23C;
}
.overlay {
    border-radius: 10px;
    background-color: rgba(14, 136, 206, 0.744); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.background {
    width: 700px;
    height: 250px;
    background-color: rgba(231, 229, 229, 0.445); /* Semi-transparent white background */
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
 h2{
    margin: 0;
    padding-top: 15px;
    font-weight: 600;
    font-size: 32px;
 }
 .dates{
    display: flex;
    margin-top: -15px;
    padding: 0;
 }
.weather-forecast{
    margin-top: 20px;
    width: 700px;
    height: 150px;
    background-color: rgba(231, 229, 229, 0.445); /* Semi-transparent white background */
    position: relative;
    padding: 20px;
    border-radius: 15px;
    
}

.date{
    color: white;
    position: absolute;
    top:0;
    right:70px;
    font-size: 15px;
    font-weight: 300;
}
.text {
    
    color: white; 
    z-index: 1; 
    padding: 25px;
    
}
h3{
    font-size: 60px;
    margin: 0;
    color: #F9C23C;
    padding: 0;
}

.footer {
    text-align: center;
    padding: 10px;
    color: rgb(118, 118, 118);
    
}
img{
    background-color: #4B9BCC;
    border-radius: 300px;
    width: 150px;
    padding: none;
    margin-right: 15px;

}
p{
    color: white;

}
.humidity{
    margin: 0;
    display: flex;
    justify-items:flex-start;
    font-size: 16px;
    font-weight: 500;
}

.humid{
    padding-right: 25px;
}

.city{
margin-top: 15px;
border: 1px solid #4B9BCC ;
padding: 10px;
width: 250px;
border-radius: 5px;
background-color: #d4e8f2;
margin-right: 5px;
outline: #4B9BCC;
}
.city:focus {
    outline: 1px solid #4B9BCC;
}

.button{
    border-radius: 5px;
    padding: 10px;
    border:solid 1px #4B9BCC;
    background-color: #f4f4f1bd;
    color: rgba(86, 86, 86, 0.938);
    font-size: 14px;
    font-weight: 100;
    width: 120px;
    
}
.weather-forecast{
display: flex;
justify-content:space-around ;
}


.weather-forecast-day{
    padding: 18px;
}

.weather-forecast-date{
    text-align: center;
    color:white;
    font-weight: 300;
    font-size: 17px;
    line-height:20px ;
    margin-bottom: 20px;
}

.weather-forecast-temp{
    text-align: center;
    color:#F9C23C;
    font-weight: 300;
    font-size: 17px;
    line-height:30px ;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.weather-forecast-icon{
    text-align: center;
    line-height:20px ;
    font-size: 60px;
    margin-bottom:20px;

}
.temp-1{
    padding: 0 10px;
}